@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family:   'NotoSansKR', sans-serif ,'Headline R';
}

/* 노말라이즈 */
body, ul, li, h1 {
    margin:0;
    padding:0;
    list-style:none;
}

a {
    color:inherit;
    text-decoration:none;
}

/* 라이브러리 */
.con {
    margin:0 auto;
}

.img-box > img {
    width:100%;
    display:block;
}

.row::after {
    content:"";
    display:block;
    clear:both;
}

.cell {
    float:left;
    box-sizing:border-box;
}

.cell-right {
    float:right;
    box-sizing:border-box;
}

.margin-0-auto {
    margin:0 auto;
}

.height-100p {
    height:100%;
}

.width-50p {
    width:50%;
}

.height-50p {
    height:50%;
}

.height-33p {
    height:33.3333%;
}

.block {
    display:block;
}

.inline-block {
    display:inline-block;
}

.text-align-center {
    text-align:center;
}

.line-height-0-ch-only {
    line-height:0;
}

.line-height-0-ch-only > * {
    line-height:normal;
}

.relative {
    position:relative;
}

.absolute-left {
    position:absolute;
    left:0;
}

.absolute-right {
    position:absolute;
    right:0;
}

.absolute-middle {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.width-100p {
    width:100%;
}

.table {
    display:table;
}

.table-cell {
    display:table-cell;
}

.vertical-align-top {
    vertical-align:top;
}

.vertical-align-middle {
    vertical-align:middle;
}

.vertical-align-bottom {
    vertical-align:bottom;
}



.days {
    position:relative;
    top:0;
    left:0;
    width:1903px;
    height:900px;
}
.monday {
    font-family:'Gulim';
    font-size:34.86px;
    margin-left:20px;
    padding-top:30px;
    margin-bottom:15px;
}
.days > .t {
    width:500px;
    height:4px;
    background:#000;
}
.days > .app {
    font-family:'Adobe Gothic Std';
    font-size:22px;
}
.days > .app > div:last-child {
    color:#ade0e8;
    margin-top:-20px;
}
.days > .concept {
    width:100px;
    height:4px;
    background:#000;
    margin-left:20px;
    margin-top:17%;
}
.days > .concept-1 {
    font-family:'Adobe Gothic Std';
    font-size:23.93px;
    margin-left:22.5px;
}
.days > .concept-1  > div:last-child {
    font-size:13px;
    margin-top:15px;
}
.days > .color {
    font-family:'Adobe Gothic Std';
    font-size:23.93px;
    margin-left:22.5px;
    margin-top:40px;
}
.days > .color > div:first-child {
    margin-bottom:20px;
}
.days > .color > .co > div {
    display:inline-block;
    width:40px;
    height:40px;
    background:#fff;
    border-radius:50%;
    margin-top:15px;
}
.days > .color > .co > div:not(:nth-child(1)) {
    margin-left:70px;
}
.days > .color > .co > div:nth-child(1){
    background:#c30d23;
}
.days > .color > .co > div:nth-child(2){
    background:#000;
}
.days > .color > .co > div:nth-child(3){
    background:#fff;
    border:1px solid #000;
}
.color-1  > div {
    font-family:'Adobe Gothic Std';
    display:inline-block;
    margin-left:16px;
    font-size:13px;
}
.days > .color-1 > div:not(:nth-child(1)) {
    margin-left:54.5px;
}
.days > .color-1 > div:last-child {
    margin-left:72px;
}
.days > div > .img {
    margin-left:47%;
    margin-top:-40%;
}
.days  {
    box-shadow:5px 5px 5px rgba(0,0,0,.24);
}
.days > div >  .img:last-child{
    margin-left:65%;
    margin-top:-30%;
}
.days > .row > .img.active-on-visible {
    transform:translateY(40px);
    opacity:0;
    transition: transform .5s, opacity .5s;
}

.days > .row > .img.active-on-visible.active {
    transform:translateY(0);
    opacity:1;
}








/* 인포그래픽 디자인 */


.day-3 {
    position:relative;
}

.day-3 > .app {
    margin-left:17.5%;
}
.day-3 > .app > div:last-child {
    margin-left:6.3%;
}
.day-3 > .monday {
    color:#000;
}
.day-3 > .t {
    background:#000;
}
.day-3 > .app > div:first-child {
    color:#000;
}
.day-3 > .concept  {
    background:#000;
}
.day-3 > .concept-1 {
    color:#000;
}
.day-3 > .color ,.day-3 > .color-1 {
    color:#000;
}
.day-3 > .bul {
    margin-top:-40%;
    margin-left:45%;
    z-index:10;
    position:relative;
}
.day-3 > .bul  > a > img {
    box-shadow:10px 10px 10px rgba(0,0,0,.24);
}





