
.ac:hover::after {
    content: "클릭";
    color: #fff;
    text-align: center;
    line-height: 43px;
    position: absolute;
    top: 35%;
    left: 22%;
    transform: translateX(-50%) translateY(-50%);
    width: 250px;
    height: 43px;
    z-index: 10;
    background: rgba(0,0,0,.6);
    border: 3px solid #fff;
}