@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');

@font-face {
    font-family: 'ON-IGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eleven@1.0/ON-IGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'Roboto', sans-serif;
}

.font-o {
    font-family: 'ON-IGothic', sans-serif;
}

.font-c {
    font-family: 'Crimson Text', serif;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: inherit;
    color: inherit;
}
/* 팝업 */
.popup {
    position: fixed;
    z-index: 10;
}

.popup-1 {
    width: 300px;
    height: 480px;
    top: 30%;
    right: 0;
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/popup-back-1.jpg) no-repeat center center;
    background-size: cover;
    display: none;
    z-index: 2;
}

.popup-1 > img {
    width: 15px;
    margin-top: 15px;
    margin-left: 272px;
    cursor: pointer;
}

.popup-1 > a {
    display: block;
    width: 200px;
    margin-top: 380px;
    margin-left: 50px;
    cursor: pointer;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

/*
.popup-2 {
    width: 300px;
    height: 480px;
    top: 70%;
    right: 0;
    background: url(../img/popup-back-2.jpg) no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.popup-2 > img {
    width: 20px;
    margin-top: 20px;
    margin-left: 260px;
    cursor: pointer;
}
*/
.popup-3 {
    width: 300px;
    height: 200px;
    bottom: 0;
    left: -300px;
    background: black url(../img/ex-start.png) no-repeat center center;
    background-size: 50px;
    cursor: pointer;
}

.popup-3 > img {
    width: 20px;
    margin-top: 10px;
    margin-left: 270px;
    cursor: pointer;
}

section {
    width: 100%;
    position: relative;
}

/* 상단 배너 */

section.top {
    height: 100%;
    overflow: hidden;
}

section.top > .img-box {
    position: fixed;
}

section.top > .img-box > .banner-img {
    margin: 0 auto;
    width: 100%;
}

section.top > .txt-box > .banner-txt {
    position: absolute;
    top: -200%;
    left: 0;
    width: 100%;
}

section.top > .btn-box-1 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@media (max-width:1200px) {
    section.top > .btn-box-1 {
        display: none;
    }
}

section.top > .btn-box-1 > div {
    float: left;
    width: 10px;
    height: 10px;
    margin: 10px 30px;
    border: none;
    border-radius: 30px;
    background-color: #444035;
    cursor: pointer;
}

section.top > .btn-box-1 > .now-btn {
    transform: scale(2);
    background-color: #f5a100;
}

section.top > .scroll-img-box {
    position: absolute;
    bottom: 10px;
    right: 5px;
}

section.top > .scroll-img-box > span {
    float: left;
    height: 20px;
    padding: 15px;
    font-size: 20px;
}

section.top > .scroll-img-box > img {
    float: left;
    height: 50px;
}

/* 중단 */
section.middle {
    background-color: #d4b3a4;
    min-width: 700px;
    padding-bottom: 60px;
}

section.middle > article {
    width: 80%;
    margin: 0 auto;
    margin-top: 200px;
    padding: 50px;
    overflow: hidden;
}

section.middle > article > div {
    float: left;
    width: 100%;
}

section.middle > article > div:first-child > h1 {
    margin: 0;
    font-size: 60px;
    font-weight: bold;
    color: white;
    position: relative;
}

section.middle > article:nth-child(2) > div:first-child > h1::before,
section.middle > article:nth-child(3) > div:first-child > h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 25px;
    height: 25px;
    background: url(../img/ex-rhombus.png);
}

section.middle > article:nth-child(1) {
    width: 100%;
    height: 1000px;
    margin-top: 0;
    padding: 0;
    position: relative;
}

section.middle > article:nth-child(1) > div:first-child {
    opacity: 0.75;
    background: url(../img/banner-1.png);
    background-position: bottom center;
    background-size: cover;
    height: 100%;
}

section.middle > article:nth-child(1) > div:nth-child(2) {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    z-index: 1;
}

section.middle > article:nth-child(1) > div:nth-child(2) > h1 {
    font-size: 140px;
    color: white;
}

section.middle > article:nth-child(2) > div > div {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

section.middle > article:nth-child(2) > div > div:first-child > img {
    margin-top: 150px;
}

section.middle > article:nth-child(2) > div > div:nth-child(2) > h2 {
    margin: 10px 0 0 25px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

section.middle > article:nth-child(2) > div > div:nth-child(2) > h3 {
    position: relative;
    margin: 25px 0 0 0;
    font-family: "Crimson Text";
    font-size: 100px;
    font-weight: normal;
    color: white;
}

section.middle > article:nth-child(3) > div:nth-child(2) > img {
    float: left;
    width: 33.333%;
    padding: 20px;
    box-sizing: border-box;
}

section.middle > article:nth-child(4) {
    background-color: white;
    background-image: url(../img/banner-2.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 400px;
}

section.middle > article:nth-child(4) > div:nth-child(1) > h1 {
    color: black;
}

section.middle > article:nth-child(4) > div:nth-child(2) {
    padding: 80px 20px;
}

section.middle > article:nth-child(4) > div:nth-child(2) > p {
    font-size: 20px;
    line-height: 36px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

header::after {
    content: "";
    position: fixed;
    top: 105px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #cccccc;
    z-index: -1;
}

header > ul {
    float: left;
    width: 50%;
}

header > ul:nth-child(2) {
    text-align: right;
}

header > ul > li {
    display: inline-block;
}

header > ul > li > a {
    display: block;
    padding: 10px;
    margin: 30px;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}

header > ul > li > a::after {
    content: "";
    position: absolute;
    top: 63%;
    left: 0;
    width: 0;
    height: 5px;
    background-color: red;
    z-index: -1;
}

header > ul > li > a.active::after {
    transition: width 0.5s;
    width: 100%;
}

header > a > .logo-1 {
    position: absolute;
    top: 30px;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translateX(-50%);
    z-index: 5;
}

@media (max-width:1200px) {
    header::after {
        display: none;
    }

    header > ul > li > a {
        padding: 5px;
        margin: 20px;
        font-size: 18px;
    }

    header > a > .logo-1 {
        width: 100px;
        height: 100px;
    }
}

.con {
    margin: 0 auto;
    max-width: 1150px;
}

@media (max-width:1200px) {
    .con {
        margin-left: 25px;
        margin-right: 25px;
    }
}

.img-box > img {
    width: 100%;
    display: block;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.cell {
    float: left;
    box-sizing: border-box;
}

footer {
    display: block;
    width: 100%;
    margin-top: 30px;
    border-top: 1px solid #808080;
}

footer > ul {
    padding: 5px;
}

footer > ul > li {
    float: left;
    width: 33.3333%;
    text-align: center;
    box-sizing: border-box;
    padding: 20px 40px;
}

footer > ul > li > h3 {
    font-size: 22px;
    margin: 10px;
}

footer > ul > li > p {
    font-size: 18px;
    color: #808080;
}

footer > p {
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    color: #808080;
    font-weight: normal;
}

.hide {
    display: none;
}

